root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
tab_width = 8

[*.nix]
indent_size = 2
indent_style = space

[*.{sh,bash,fish,zsh,nu}]
indent_style = space
indent_size = 4

[.{env,envrc}]
indent_style = space
indent_size = 4

[.{env,envrc}.*]
indent_style = space
indent_size = 4

[*.md]
indent_size = unset
indent_style = space

[{justfile,.justfile}]
indent_size = 4
indent_style = space

[*.{json,jsonc,yaml,toml}]
indent_size = 2
indent_style = space

[biome.json]
indent_style = tab

[*.rs]
indent_size = unset
indent_style = space

[{assets/image/Containerfile,assets/image/tests/podman-runtime-compat.sh,assets/image/tests/podman-runtime-user.sh}]
trim_trailing_whitespace = false
